[Unit]
Description=Rover Joystick service
After=bluetooth.target multi-user.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/PS4Joystick/rover_example.py
Restart=always
RestartSec=2
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
